.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 280px;
    background-color: #E6D227;
    border-radius: 0.5em;
    margin: 15px;
    padding: 15px;
}

.card-title{
    padding: 1vh;
    text-align: center;
}


.field {
    display: grid;   
    margin: 1vh;
}