<div class="card">
    <span class="card-title">Register a Friend!</span>

    <form>
        <div class="field">
            <label>Friend Name</label>
            <input>
        </div>
        <div class="field">
            <label>Zip Code</label>
            <input name="zip-code" [(ngModel)]="cep" (focusout)="autoFill()">
        </div>
        <div class="field">
            <label>Street Name</label>
            <input ngModel="{{address.logradouro}}" name="street-name" disabled>
        </div>
        <div class="field">
            <label>Number</label>
            <input ngModel="{{address.numero}}" name="address-number">
        </div>
        <div class="field">
            <label>Complement</label>
            <input ngModel="{{address.numero}}" name="address-number">
        </div>
        <div class="field">
            <label>District</label>
            <input ngModel="{{address.bairro}}" name="district" disabled>
        </div>
        <div class="field">
            <label>City</label>
            <input ngModel="{{address.localidade}}" name="city" disabled>
        </div>
        <div class="field">
            <label>State</label>
            <input ngModel="{{address.uf}}" name="state" disabled>
        </div>
        <div class="field">
            <label>Area Code</label>
            <input ngModel="{{address.ddd}}" name="area-code" disabled>
        </div>
        <div class="field">
            <button (click)="register()">+</button>
        </div>
    </form>

    
     
</div>
