.social-medias{
    color: #fff;
    padding-right: 10px;
    font-weight: large;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    background: #393939;

}